*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	background: #FEF9E7;
}
nav{
	background: #DCE775;
	height: 60px;
	width: 100%;
}
label.logo{
	color: blue;
	font-size: 30px;
	line-height: 60px;
	padding: 0 250px;
	font-weight: bold;
}

/*.icon-arrow{
	width: 100px;
	height: 4px;
	border-radius: 4px; 
	background: red;
	position: relative;
	left: 50%;
	top: 400px;
}
.icon-arrow:after{
	content: "";
	display: inline-block;
	width: 40px;
	height: 4px;
	background-color: green;
	transform: rotate(45deg);
	position: absolute;
	right: -6px;
	bottom: 13px;
}
.icon-arrow:before{
	content: "";
	display: inline-block;
	width: 40px;
	height: 4px;
	background-color: green;
	transform: rotate(-45deg);
	position: absolute;
	right: -6px;
	bottom: -13px;
}*/
ul{
	position: relative;
	padding: 8px;
	left: 10%;
	font-size: 20px;
	font-weight: bold;
}
ul li{
	padding: 6px;
	position: relative;
	left: 5%;
	font-size: 20px;

}