<div class="d-flex py-2 bd-highlight bg-warning mb-5">
    <h3 id="text">Register</h3>
</div>

<div class="container py-5 ">
    <div class="bg-light px-5">
        <div class="row pt-2">
            <div class="col-md-11 col-10"></div>
            <span type="button" class="col-md-1 col-2 pt-5 material-icons" id="backToMain">
                close
            </span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="pl-1 fontHeading">Sign-up</h3>
                <hr class="w-75 ml-0">
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleAttainments" required>
                <div class="invalid-feedback">
                    Please provide a Title
                </div>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="description" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisherAttainments" required>
                <div class="invalid-feedback">
                    Provide the Publisher Name
                </div>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleAttainments" required>
                <div class="invalid-feedback">
                    Please provide a Title
                </div>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="description" class="col-sm-2 col-form-label">Postal Code</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisherAttainments" required>
                <div class="invalid-feedback">
                    Provide the Publisher Name
                </div>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleAttainments" required>
                <div class="invalid-feedback">
                    Please provide a Title
                </div>
            </div>
        </div>
        <form>
            <fieldset class="row mb-3 pt-3">
                <legend class="col-form-label col-sm-2 pt-0">Currently</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Student
                        </label>
                    </div>
                    <div class="form-check pt-2">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Buisness
                        </label>
                    </div>
                    <div class="form-check pt-2">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">
                            Job Seeker
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="pt-2 pb-5"></div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="pl-1 fontHeading">Verify E-mail</h3>
                <hr class="w-75 ml-0">
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label">E-Mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleAttainments" required>
                <div class="invalid-feedback">
                    Please provide a Title
                </div>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="description" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="publisherAttainments" required>
                <div class="invalid-feedback">
                    Provide the Publisher Name
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-2 col-3">
                <div class="pt-2 pb-5">
                    <button type="submit" class="btn btn-primary" id="submitIntro">Verify</button>
                </div>
            </div>
            <div class="col-md-8 col-6"></div>
            <div class="col-md-2 col-3">
                <!-- <div class="pt-2">
                    <button type="submit" class="btn btn-primary">Next</button>
                </div> -->
            </div>
        </div>
    </div>
</div>