<div class="d-flex py-2 bd-highlight bg-warning mb-5">
    <h3 id="text">Gig Experience</h3><br><br>
</div>
<div class="container">
    <h2>Media</h2>
    <div class="form-row">
        <div class="col-md-2 mb-2">
            <label for="All" id="size"></label>
            <span class="material-icons" style="font-size: 40px;">print</span>
        </div>
        <div class="col-md-2 mb-2">
            <label for="All" id="size"></label>
            <span class="material-icons" style="font-size: 40px;"> perm_media </span>
        </div>
        <div class="col-md-2 mb-2">
       
            <label for="All" id="size"></label>
            <span class="material-icons" style="font-size: 40px;"> attach_file </span>
        </div>
        <div class="col-md-2 mb-2">
    
            <label for="All" id="size"></label>
            <span class="material-icons" style="font-size: 40px;"> receipt </span>
        </div>
    </div><br><br><br><br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3>Your Requirements from user:</h3>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="Enter Here">
            </div>
        </div>
    </div><br><br><br>
    <h2>Rating</h2><br>
    <span class="material-icons" style="font-size: 40px;"> grade </span>
    <span class="material-icons" style="font-size: 40px;"> grade </span>
    <span class="material-icons" style="font-size: 40px;"> grade </span>
    <span class="material-icons" style="font-size: 40px;"> grade </span>
    <span class="material-icons" style="font-size: 40px;"> grade </span><br><br><br><br><br><br>
    <div class="row">
        <div class="col-md-2 col-3">
            <div class="pt-2 pb-5">
                <button type="submit" class="btn btn-primary" id="submitIntro">Submit</button>
            </div>
        </div>
        <div class="col-md-8 col-6"></div>
        <div class="col-md-2 col-3">
            <div class="px-2">
                <button type="submit" class="btn btn-primary" (click)="nextPage()">Finish</button>
            </div>
        </div>
    </div>
</div>