<div class="d-flex py-2 bd-highlight bg-warning mb-5">
    <h3 id="text">Ratification</h3>
</div>
<div class="container py-5 ">
    <div class="bg-light px-5">
        <div class="row pt-2">
            <div class="col-md-11 col-10"></div>
            <span type="button" class="col-md-1 col-2 pt-5 material-icons" id="backToMain">
            close
        </span>
            <div class="row">
                <div class="col-md-4">
                    <h3 class="pl-1 fontHeading"> </h3>
                    <hr class="w-75 ml-0">
                </div>
            </div>

        </div>
        <div class="row pt-4">
            <div class="col-md-4">
                <h3 class="pl-1 fontHeading">Advocacies</h3>
                <hr class="w-75 ml-0">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-2 col-3">
                <div class="pt-2 pb-5">
                    <button type="submit" class="btn btn-primary" id="submitIntro">Prev</button>
                </div>
            </div>
            <div class="col-md-8 col-6"></div>
            <!-- <div class="col-md-2 col-3">
                <div class="pt-2">
                    <button type="submit" class="btn btn-primary" (click)="nextPage()">Next</button>
                </div>
            </div> -->
        </div>
    </div>
</div>