<div class="d-flex py-2 bd-highlight bg-warning mb-5">
    <h3 id="text">Frame Works</h3>
</div>
<div class="container">
    <form>
        <div class="form-row">
            <div class="col-md-5 mb-2">
                <label for="validationDefault01" id="size">Gig Title</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Gig Title"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
            <div class="col-md-5 mb-2"></div>
        </div><br>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault01" id="size">Type</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Type"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault02" id="size">Your work</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Your work"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault02" id="size">About your Gig</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="About your Gig"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <br>
        <h2>Price pack-</h2><br>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault01" id="size">Hours of work</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Hours of work"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault01" id="size">Delivery Time</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Delivery Time"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault02" id="size">Correction</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Correction"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault02" id="size">Money</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Money"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="validationDefault02" id="size">Additional Work</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Additional Work"
                    aria-describedby="inputGroupPrepend2" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-3">
                <div class="pt-2 pb-5">
                    <button type="submit" class="btn btn-primary" id="submitIntro">Submit</button>
                </div>
            </div>
            <div class="col-md-8 col-6"></div>
            <div class="col-md-2 col-3">
                <div class="px-2">
                    <button type="submit" class="btn btn-primary" (click)="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>