<div class="d-flex py-2 bd-highlight bg-warning mb-5">
    <h3 id="text">Introduction</h3>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-8"></div>
        <div class="col-md-4">
        <label class="header">Cover Photo:</label>
        <span class="material-icons">
            collections
            </span>
        <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
    </div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-4">
        <label class="header">Profile Photo:</label>
        <span class="material-icons">
            perm_identity
            </span>
        <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
    </div>
    </div>
</div>

<!------------- introduction----->
<div class="container py-5">
    <div class="px-5">
        <div class="row py-4">
                <h3 class="pl-1 fontHeading" style="text-align: center;">Introduction</h3>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label" style="font-size:larger;">Full Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introFullName">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label" style="font-size:larger;">Tagline</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introTagLine">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label" style="font-size:larger;">Summary</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introSummary">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="input" style="font-size:larger;">Job Position</label>
            </div>
            <div class="col-md-4">
                <input type="radio" id="introHome" value="home">
                <label for="input" style="font-size: medium;">Home</label><br>
            </div>
            <div class="col-md-4">
                <input type="radio" id="introWork" value="work">
                <label for="input" style="font-size: medium;">Work</label><br>
            </div>
        </div>
        <div class="form-group row pt-2">
            <label for="input" class="col-sm-2 col-form-label" style="font-size:larger;">Location</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introLoaction">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label" style="font-size:larger;">Mobile No</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introMobileNo">
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label" style="font-size:larger;">Date of Birth</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="introDateOfBirth">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-3">
                <div class="pt-2 pb-5">
                    <button type="submit" class="btn btn-primary" id="submitIntro">Submit</button>
                </div>
            </div>
            <div class="col-md-8 col-6"></div>
            <div class="col-md-2 col-3">
                <div class="px-2">
                    <button type="submit" class="btn btn-primary" (click)="nextPage()">Next</button>
                </div>
            </div>
        </div>
    </div>
   
</div>

